<p>
  <strong>Please note for the upcoming lecture:<br /></strong><br />Since we are
  making use of the GMAIL SMTP server, our from and to email addresses need to
  be based on GMAIL.<br /><br />EMAIL_HOST_USER needs to be based on a GMAIL
  account (where you assigned an app password too).<br /><br /><strong
    >E.g.<br /></strong
  ><br />If you are registering your account or sending a forgot your password
  email. Your host's email and your user's email (from the registration page)
  must be from a GMAIL address or else you will get an
  <strong>authentication error</strong> in the upcoming lecture.
</p>
